.menu
  width: 252px
  height: calc(100vh - 80px)
  font-size: 14px

  &__item
    margin-bottom: 25px
    height: 56px
    display: flex
    align-items: center
    padding-left: 24px
    text-decoration: none
    color: #797F8F

    &:hover
      border-radius: 16px
      background-color: #F6F8F8
      box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06)
      cursor: pointer
      color: $primaryColor

    &:hover .menu__img
      filter: grayscale(0)

    &_hover
      border-radius: 16px
      background-color: #F6F8F8
      box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06)
      cursor: pointer
      color: $primaryColor
      margin-bottom: 25px
      height: 56px
      display: flex
      align-items: center
      padding-left: 24px
      text-decoration: none

  &__img
    width: 24px
    margin-right: 16px
    filter: grayscale(1)

.menuClose
  display: none
