.table-item
  position: relative

  &:hover
    background-color: #F6F8F8
    cursor: pointer

    & .trash-img
      visibility: visible

    & .tooltip
      display: block


.access
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 224px

.trash-img
  visibility: hidden

.tooltip
  display: none
  position: absolute
  top: 70%
  width: 72px
  height: 24px
  background: #FFFFFF
  border: 1px solid #DCE0EB
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1)
  border-radius: 2px
  font-size: 10px
  text-align: center
  padding: 4px 0
  z-index: 1

.link
  text-decoration: none
