* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

.App-main {
  background-image: url("../img/main-background.png");
  background-size: cover;
  height: 100vh;
  background-color: #eff1f7;
  padding: 0 26px;
}

.App-header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px;
}

.App-header__lGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App-header__rGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App-header__icon {
  width: 24px;
  margin-right: 20px;
}

.App-header__title {
  font-size: 16px;
}

.link_flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.link_flex_hide {
  display: none;
}

.App-name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 16px;
  margin-right: 156px;
}

.arrow-btn {
  margin-right: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.arrow-btn_hide {
  display: none;
}

.logo {
  width: 30px;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 24px;
}

.text-center {
  text-align: center;
}

.menu {
  width: 252px;
  height: calc(100vh - 80px);
  font-size: 14px;
}

.menu__item {
  margin-bottom: 25px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  text-decoration: none;
  color: #797F8F;
}

.menu__item:hover {
  border-radius: 16px;
  background-color: #F6F8F8;
  -webkit-box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
  cursor: pointer;
  color: #FA6400;
}

.menu__item:hover .menu__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.menu__item_hover {
  border-radius: 16px;
  background-color: #F6F8F8;
  -webkit-box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
  cursor: pointer;
  color: #FA6400;
  margin-bottom: 25px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  text-decoration: none;
}

.menu__item_hover .menu__img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.menu__img {
  width: 24px;
  margin-right: 16px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.menuClose {
  display: none;
}

.auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user {
  width: 18px;
}

.auth-img {
  height: 24px;
  margin-left: 16px;
  cursor: pointer;
}

.authMenuOpen {
  position: absolute;
  right: 0;
  top: 60px;
  width: 277px;
  padding: 34px 42px;
  background-color: #F6F8F8;
  border-radius: 16px;
  -webkit-box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
}

.authMenu__item {
  font-size: 12px;
  color: #797F8F;
  text-decoration: none;
}

.authMenu__li:not(:last-child) {
  margin-bottom: 22px;
}

.auth-avatar {
  height: 36px;
  width: 36px;
  border-radius: 50% 50%;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
}

.active {
  width: 9px;
  position: absolute;
  top: 1px;
  right: 109px;
}

.auth-name {
  font-size: 12px;
  color: #333333;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.table-container {
  background-color: white;
  height: calc(100vh - 80px - 88px);
  -webkit-box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
  border-radius: 16px;
  overflow-y: auto;
}

table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}

thead {
  font-weight: 700;
  color: #B8C7CC;
}

thead tr {
  border-bottom: 1px solid #D9E3E8;
}

tr {
  border-bottom: 1px solid #EDEDED;
}

td {
  height: 48px;
}

.lock-img {
  min-width: 72px;
  text-align: center;
}

.trash-img {
  width: 72px;
}

.head-fio {
  min-width: 200px;
}

.head-login, .head-rol {
  min-width: 140px;
}

.filter-container {
  height: 80px;
  padding: 24px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.filter-input {
  -ms-flex-preferred-size: 317px;
      flex-basis: 317px;
  background-color: #F6F8F8;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 0 19px 0 52px;
  font-size: 12px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.filter-select {
  background-color: #F6F8F8;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 0 16px;
  font-size: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 50%;
  width: 100%;
  height: 100%;
  color: #797F8F;
}

.filter-select__mg {
  padding-right: 11px;
  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
  background-color: #F6F8F8;
  border-radius: 12px;
}

.filter-btn {
  width: 67px;
  color: #FA6400;
  background-color: white;
  border: none;
}

.pagination-container {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pages-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.arrow:hover {
  background-color: #F6F8F8;
  -webkit-box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
  cursor: pointer;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.page {
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #888888;
}

.page_no-hover {
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #888888;
}

.page:hover {
  background-color: #F6F8F8;
  -webkit-box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
  cursor: pointer;
  color: #FA6400;
}

.page_hover {
  width: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  background-color: #F6F8F8;
  -webkit-box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
          box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
  color: #FA6400;
}

.input {
  width: 100px;
  height: 21px;
  position: fixed;
  bottom: 33px;
  background-color: transparent;
  margin-left: 12px;
  font-size: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-position: right 50%;
  border: none;
  outline: none;
}

.table-item {
  position: relative;
}

.table-item:hover {
  background-color: #F6F8F8;
  cursor: pointer;
}

.table-item:hover .trash-img {
  visibility: visible;
}

.table-item:hover .tooltip {
  display: block;
}

.access {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 224px;
}

.trash-img {
  visibility: hidden;
}

.tooltip {
  display: none;
  position: absolute;
  top: 70%;
  width: 72px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #DCE0EB;
  -webkit-box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
  padding: 4px 0;
  z-index: 1;
}

.link {
  text-decoration: none;
}

.card-container {
  max-width: 787px;
  height: 526px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 40px rgba(83, 100, 120, 0.15);
          box-shadow: 0px 10px 40px rgba(83, 100, 120, 0.15);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 40px;
}

.card-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 108px;
  height: 40px;
  background: linear-gradient(74.6deg, #FF8901 0%, #FF3E3B 100%);
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

.card-btn:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.card-left-block {
  width: 191px;
}

.card-form {
  width: 371px;
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-form__name {
  max-width: 157px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}

.card-form__label {
  font-size: 14px;
  color: #797F8F;
  padding-left: 16px;
}

.card-form__input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  background: rgba(217, 227, 232, 0.5);
  border-radius: 12px;
  border: none;
  padding: 0 16px;
  margin: 8px 0 24px;
  outline: none;
}

.card-form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/caret-down-fill.svg");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 345px;
  cursor: pointer;
}

.card-form__input-mini {
  width: 203px;
  height: 32px;
  background: rgba(217, 227, 232, 0.5);
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
  padding-left: 16px;
}

.unput-mini-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 24px;
}

.btn-mini {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.btn-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.access-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.access-text {
  font-size: 14px;
  color: #B8C7CC;
  margin-left: 18px;
}

.image-conmainer {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background-color: #D9DBDD;
}

.image {
  width: 70%;
}

.btn {
  margin-top: 16px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn__reset {
  background-color: #262D38;
  color: white;
}

.btn__reset:hover {
  background-color: #4f5e75;
}

.btn__delete {
  background-color: transparent;
  color: #FA6400;
}

.btn__delete:hover {
  background-color: #e6e6e6;
}

.change-log {
  margin-top: 76px;
  font-size: 12px;
  color: #B8C7CC;
}
/*# sourceMappingURL=App.css.map */