*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none
  // font-family: Roboto

.App-header
  background-color: #0CB98F
  height: 60px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 26px

.logo
  width: 25px
  position: relative

.menuOpen
  position: absolute
  width: 340px
  height: calc(100vh - 60px)
  background-color: #17E3B2
  left: -26px
  top: 43px
  padding: 39px 52px
  color: white
  font-size: 18px

  &__item
    margin-bottom: 25px

  &__link
    text-decoration: none
    color: white

.menuClose
  display: none

.auth-wrapper
  display: flex

.auth-img
  width: 14px
  margin-left: 7px

.authMenuOpen
  position: absolute
  right: 0
  top: 60px
  width: 277px
  background-color: #17E3B2
  padding: 34px 42px

.authMenu__item
  font-size: 12px
  color: white
  text-decoration: none

  &:not(:last-child)
    margin-bottom: 22px
